* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #08090b;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1100px;
  margin: auto;
  padding: 0 15px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  position: sticky;
  top: 0;
  padding: 15px 10px;
  z-index: 1000;
  font-weight: 500;
}
a {
  color: #ffffff;
  text-decoration: none;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
h1 {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 15px;
}
p {
  color: #b4b6b6;
  font-size: 1.2rem;
  line-height: 27px;
}
label {
  color: #13e198;
  font-weight: 500;
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: larger;
  margin-right: 60px;
}
.logo .icon {
  height: 20px;
}
.cta {
  display: flex;
  gap: 10px;
}
.btn-primary {
  border-radius: 30px;
  padding: 8px 15px;
  background-color: #ffffff;
  color: #000000;
}
.btn-secondary {
  border-radius: 30px;
  padding: 8px 15px;
  background-color: #0f1829a4;
  color: #ffffff;
}
#background {
  background-image: url(/assets/bg-dark.svg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120vh;
  z-index: -1;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}
.hero .docs-link {
  padding: 3px 6px;
  background-color: #29394b;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 20px;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 12px;
}
.hero .docs-link #new {
  background-color: #0c8c5e;
  padding: 5px 8px;
  border-radius: 50px;
  font-size: 12px;
}
.docs-link #arrow {
  background-color: #ffffff;
  color: #000000;
  border-radius: 50%;
  padding: 0 4px;
}
.hero h1 {
  font-size: 3.5rem;
  text-align: center;
}
.hero p {
  color: #ffffff;
  text-align: center;
}
.hero #email {
  padding: 5px 10px;
  background-color: #ffffff26;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 60px;
}
.hero #email input,
.hero #email button {
  border: none;
  padding: 7px 10px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 15px;
}
.hero #email input {
  background-color: transparent;
  outline: none;
  color: #ffffff;
  width: 250px;
}
.hero img {
  border-radius: 25px;
  width: 100%;
}
.partners {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 50px 0 200px 0;
}
.partners div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
}
.partners div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners div img {
  height: 25px;
}
.intelligence .info {
  text-align: center;
}
.intelligence .cards {
  display: flex;
  gap: 25px;
  margin: 50px auto 25px auto;
  max-width: 1000px;
}
.intelligence .cards div {
  border: 1px solid #79797938;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.intelligence .cards div img {
  width: 100%;
  margin: 20px auto;
}
.assistant {
  border: 1px solid #79797938;
  border-radius: 20px;
  max-width: 1000px;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.assistant img {
  width: 100%;
  margin-top: 25px;
}
.enterprise {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: calc(100vw - 20px);
  background-color: #151616;
  margin-top: 120px;
  padding: 100px 10px 100px 10px;
}
.main {
  max-width: 1000px;
  width: 100%;
}
.enterprise .main h1 {
  text-align: start;
  margin-top: 15px;
}
.enterprise .main .cta {
  justify-content: space-between;
}
.enterprise .main .cards {
  display: flex;
  gap: 20px;
  margin: 80px auto 50px auto;
}
.enterprise .main .cards img {
  width: 35px;
  margin-bottom: 30px;
}
.enterprise .main .cards h3 {
  margin-bottom: 15px;
}
.enterprise .main .story {
  background-image: url(/assets/anthropic.svg);
  background-size: cover;
  border-radius: 25px;
  padding: 60px;
  margin-bottom: 35px;
}
.enterprise .main .story h2 {
  margin: 25px 0 40px 0;
}
.enterprise .main .story .cards {
  display: flex;
  gap: 40px;
}
.enterprise .main .story .cards span {
  font-size: small;
}
.enterprise .main .brands {
  display: flex;
  justify-content: space-evenly;
}
.enterprise .main .brands img {
  max-width: 125px;
}
.customers {
  margin: 100px auto 200px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.customers .subject {
  text-align: center;
}
.customers .cards {
  display: flex;
  gap: 15px;
  overflow: scroll;
  scrollbar-width: none;
  width: calc(100vw - 20px);
  padding: 40px 30px 0px 30px;
}
.customers .cards .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.customers .cards .card .image {
  position: relative;
  width: 400px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers .cards .card .image .cover {
  position: absolute;
  border-radius: 20px;
  width: 400px;
  z-index: -1;
}
.customers .cards .card .image .icon {
  max-width: 200px;
  max-height: 50px;
}
.documentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.documentation .cta {
  margin: 40px auto;
}
.documentation .cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
}
.documentation .cards div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 100%;
  padding: 30px 5px;
}
.documentation .cards div .icon {
  width: 60px;
  padding: 5px;
  border: 1px solid #79797938;
  border-radius: 20px;
  margin-bottom: 25px;
}
.documentation .cards div .icon img {
  width: 100%;
}
.documentation .cards div label {
  margin-top: 30px;
}
footer {
  border: 1px solid #79797938;
  margin-top: 60px;
}
.footer-top {
  border-bottom: 1px solid #79797938;
  display: flex;
  padding: 30px;
  margin-top: 50px;
  justify-content: space-between;
}
.footer-top .social-media {
  display: flex;
  gap: 20px;
  height: 20px;
}
.footer-top .social-media a img {
  height: 100%;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 60px 40px;
  border-bottom: 1px solid #79797938;
}
.footer-container nav label {
  color: #b4b6b6;
}
.footer-container nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.footer-security-bottom {
  border-bottom: 1px solid #79797938;
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.footer-security-bottom img {
  border-radius: 50px;
  height: 70px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin-bottom: 50px;
}
.footer-bottom label {
  background-color: #212222;
  padding: 3px 10px;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;
}
